.wy-side-nav-search, .wy-nav-top {
    background: #1c9862;
}
a {
    color: #1c9862!important;
}
a:hover {
    color: #2ca872!important;
}
span.caption-text {
    color: #2ca872!important;
}
a.icon-home {
    color: #fff!important;
    text-decoration-color: #fff!important;
}
a.icon {
    color: #fff!important;
    text-decoration-color: #fff!important;
}
